body, header, div, span, h1, h2, h3, h4, h5, p, label, input, button {
  box-sizing: border-box;
  color: #232222;
  font-family: Verdana;
  font-size: 14px;
  line-height: 1.6;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-flow: row nowrap;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

h1 {
  display: inline-block;
  margin-right: 30px;
}

h3 {
  background: #4379ba;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 0 10px;
}

.activatedWT {
  color: #206cc9;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto;
  width: 1200px;
}

.container > * {
  flex-shrink: 0;
}

.js-apply-map-bonus {
  margin-left: 0.5em;
}

.reset-btn {
  display: block;
  margin: 1em auto;
}

.info,
.word-tags,
.part-trait-ex-skill,
.parts,
.gears,
.part-list {
  margin-right: 10px;
}

.info,
.word-tags {
  width: 170px;
}

.word-tags span {
  font-size: 12px;
}

.part-trait-ex-skill {
  width: 290px;
}

.part-trait-ex-skill__text,
.part-trait-ex-skill__text span.ex-cat-icon {
  font-size: 0.9em;
}

.part-trait-ex-skill__text span.ex-cat-icon {
  margin-right: 0.667em;
  vertical-align: middle;
}

.parts {
  width: 230px;
}

.parts label,
.gears label {
  display: inline-block;
  text-transform: capitalize;
  width: 30%;
}

.parts input[type=text],
.gears input[type=text] {
  border: 1px solid #bfbfbf;
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  width: 70%;
}

.attribute-tally {
  display: block !important;
  padding: 0 0 0 35% !important;
}

.float-right {
  float: right;
}

.height-50 {
  height: 70px;
}

.row {
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  width: 100%;
}

.alt-bg:nth-of-type(even) {
  background: #f2f7f4;
}

.alt-bg--blue:nth-of-type(even) {
  background: #ebf8ff;
}

.alt-bg--red:nth-of-type(even) {
  background: #fce1e1;
}

.info__total {
  font-weight: bold;
}

.part-list {
  width: 290px;
}

.js-input,
.part-list__item {
 font-size: smaller;
}

.part-list__item {
  border-bottom: 1px solid #bfbfbf;
  cursor: pointer;
  padding: 8px 5px;
  user-select: none;
}

.js-input[data-rarity="2"],
.part-list__item[data-rarity="2"] {
  color : #00CC00;
}

.js-input[data-rarity="3"],
.part-list__item[data-rarity="3"] {
  color : #1070DD;
}

.js-input[data-rarity="4"],
.part-list__item[data-rarity="4"] {
  color : #CC00CC;
}

.part-list__remove {
  color: #fad87a;
  cursor: pointer;
  float: right;
}

.part-list__item:hover {
  background: #ffae00;
  color: #fff;
}

.part-list__list {
  border: 1px solid #bfbfbf;
  height: 520px;
  overflow-y: scroll;
}

.part-list__search {
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  height: 37px;
  margin-bottom: 5px;
  padding: 5px;
  width: 100%;
}

.selected-part {
  background: #ffae00 !important;
}

.selected-part label {
  color: #fff;
}

.selected-part input {
  border: 2px solid #ffae00 !important;
}

.active-word-tag-list {
  min-height: 22px;
}

.bg-red {
  background: #ff5c5c;
}

.parts-marks {
  background: #bfbfbf;
  float: right;
  height: 15px;
  margin-top: 5px;
  padding-bottom: 17px;
  margin-right: 5px;
}

.parts-marks__item {
  border: 8px solid transparent;
  cursor: pointer;
  display: inline-block;
  height: 0;
  margin-left: 8px;
  position: relative;
  top: -8px;
  width: 0;
}

.parts-marks__item:after {
  content: '';
  position: absolute;
  left: -8px;
  top: 8px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top-color: red;
}

.parts-marks__item:last-child {
  margin-right: 5px;
}

.parts-marks__item[data-value="0"] {
  border-bottom-color: #000;
}

.parts-marks__item[data-value="0"]:after {
  border-top-color: #000;
}

.parts-marks__item[data-value="1"] {
  border-bottom-color: #fff;
}

.parts-marks__item[data-value="1"]:after {
  border-top-color: #fff;
}

.parts-marks__item[data-value="2"] {
  border-bottom-color: #00ff00;
}

.parts-marks__item[data-value="2"]:after {
  border-top-color: #00ff00;
}

.parts-marks__item[data-value="3"] {
  border-bottom-color: #1E90FF;
}

.parts-marks__item[data-value="3"]:after {
  border-top-color: #1E90FF;
}

.parts-marks__item[data-value="4"] {
  border-bottom-color: #FF00FF;
}

.parts-marks__item[data-value="4"]:after {
  border-top-color: #FF00FF;
}

.parts-marks__item[data-value="5"] {
  border-bottom-color: #FFDF00;
}

.parts-marks__item[data-value="5"]:after {
  border-top-color: #FFDF00;
}

.part-name {
  background: #f71e1e;
  font-size: 12px
}

.part-word-tag-list {
  min-height: 44px;
}

.part-skill-trait {
  border-bottom: 1px solid #ff5c5c;
  font-size: 12px;
}

.filters,
.map-bonus,
.sort {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}

.filters > *,
.sort > * {
  margin-right: 5px;
}

.map-bonus {
  padding-left: 20px;
}

[class*="js-filter-"] {
  width: 105px;
}

.js-filter-pt {
  width: 155px;
}

/** Balloon CSS */
[aria-label][data-balloon-pos]:after { color : #024; background: #DEF; }
[aria-label][data-balloon-pos]:before {  border-top-color: #DEF; }
[aria-label][data-balloon-pos][data-balloon-pos="down"]:before {  border-bottom-color: #DEF; }
[aria-label][data-balloon-pos][data-balloon-pos="down-left"]:before {  border-bottom-color: #DEF; }
[aria-label][data-balloon-pos][data-balloon-pos="down-right"]:before {  border-bottom-color: #DEF; }
[aria-label][data-balloon-pos][data-balloon-pos="left"]:before {  border-left-color: #DEF; }
[aria-label][data-balloon-pos][data-balloon-pos="right"]:before {  border-right-color: #DEF; }