.layout-row {
  display: flex;
  height: calc(100% - 6em);
}

.layout-col {
  padding: 0.5em;
  flex-direction: row;
  height: 100%;
}

.layout-col.col-2 {
  flex: 50%;
}

.layout-col h2 {
  text-align: center;
  width: 100%;
}

textarea {
  width: 100%;
  height: calc(100% - 4em);
}