html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #111111;
  font-family: monospace;
}

body, textarea {
  color: #EEEEEE;
}

textarea {
  background: #222222;
}

.container {
  padding: 1em;
  width: calc(100% - 2em);
  height: calc(100% - 2em);
}

.container h1 {
  text-align: center;
}