.container {
  display: flex;
  flex-direction: column;
}

.rows {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.layout-row {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-bottom: 1em;
}

.layout-row .row-label {
  display: flex;
  font-size: 2em;
  justify-content: center;
  align-items: center;
  min-width: 6em;
}

.layout-row textarea {
  width: 100%;
  height: 100%;
}

.layout-col {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}

.layout-col-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-col-field {
  flex: 1;
}