@font-face {
  font-family: SFPD;
  src: url("fonts/SFPDR.otf");
  font-weight: normal;
}

@font-face {
  font-family: SFPD;
  src: url("fonts/SFPDRI.otf");
  font-style: italic;
}
@font-face {
  font-family: SFPD;
  src: url("fonts/SFPDSB.otf");
  font-weight: bold;
}

:root {
  --primary-color: #FFFFFF;
  --secondary-color: #bfbfbf;
  --tertiary-color: #848484;
  --font-color: #232222;
  --disabled-font-color: #999999;
  --disabled-field-background: #DDDDDD;
  --disabled-field-border-color: #999999;
  --header-font-color: #eeeeee;
  --color-blue: #4379ba;
  --color-blue-alt: #EBF8FF;
  --color-red: #ff5c5c;
  --color-red-alt: #fce1e1;
  --alt-bg-row-color: #f2f7f4;
  --active-selection-color: #e1b236;
  --rarity-color-1: #FFFFFF;
  --rarity-color-2: #56a623;
  --rarity-color-3: #186fce;
  --rarity-color-4: #C100C1;
  --rarity-color-5: #FFDF00;
  --marks-bg: rgba(127, 127, 127, 0.25);
  --tooltip-fg-color: #4379ba;
  --tooltip-bg-color: #EBF8FF;
  --scrollbar-bg-color: #f2f7f4;
  --scrollbar-thumb-color: #4379ba;
  --activated-wt-font-color: #206cc9;
  --link-default-color: #1a3ea5;
  --link-visited-link-color: #1a3ea5;
  --link-hover-color: #1a42f1;
  --link-active-color: #1a3ea5;
}

html, body {
  min-height: 100vh;
  min-width: 100vw;
}

body, header, div, span, h1, h2, h3, h4, h5, p, label, input, button {
  box-sizing: border-box;
  font-family: SF Pro Display, Segoe UI, SFPD, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
}

body {
  background-color: var(--primary-color);
  color: var(--font-color);
  margin: 0;
  padding: 0;
}

h1 {
  display: inline-block;
}

input,
select,
button {
  background: var(--primary-color);
  border-color: var(--secondary-color);
  color: var(--font-color);
}

button {
  border: thin solid var(--secondary-color);
  cursor: pointer;
}

button:hover {
  border-color: var(--tertiary-color);
}

h3 {
  background-color: var(--color-blue);
  color: var(--header-font-color);
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 0 10px;
}

a {
  color: var(--link-default-color);
  text-decoration: none;
}

a:visited {
  color: var(--link-visited-link-color);
}

a:hover {
  color: var(--link-hover-color);
}

a:active {
  color: var(--link-active-color);
}

/* Theme toggle */
.theme-toggle {

}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  height: 18px;
  position: relative;
  width: 36px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: var(--secondary-color);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #FFF;
  bottom: 2px;
  content: "";
  height: 14px;
  left: 2px;
  position: absolute;
  transition: .4s;
  width: 14px;
}

input:checked + .slider {
  background-color: var(--color-blue);
}

input:checked + .slider:before {
  transform: translateX(18px);
}

input:disabled {
  background: var(--disabled-field-background) !important;
  border-color: var(--disabled-field-border-color) !important;
  cursor: not-allowed !important;
}

.slider.round {
  border-radius: 16px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Dropdown filters */
.unselected-filter {
  font-style: italic;
  color: var(--disabled-font-color);
}

.unselected-filter option {
  font-style: normal;
  color: var(--font-color);
}

.placeholder-option {
  font-style: italic !important;
  font-weight: bold;
}

/* Main layout */
.app {
  min-width: calc(100vw - 1em);
  min-height: calc(100vh - 1em);
  display: flex;
  flex-flow: column;
  align-items: stretch;
  padding: 0.5em;
  justify-content: space-evenly;
}

header {
  display: flex;
  justify-content: center;
}

header .options {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}

header .options > * {
  margin: 0 0.5em;
}

.other {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.other > * {
  display: inline-block;
  margin: 0 0.5em;
}

.filters {
}

[class*="js-filter-"] {
  width: 116px;
}

.js-filter-pt {
  width: 155px;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto;
  z-index: 100;
  background-color: var(--primary-color);
  flex: 1; /* Fill until we reach the footer. */
}

.js-apply-map-bonus {
  margin-left: 0.5em;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 3em;
}

footer .notice {
  font-size: 0.667em;
}

footer .brands {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1em;
}

@media only screen and (max-width: 599px) {
  header     { }
  .container { }
  footer     { }
  /* .other { flex-flow: column; } */
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
  header     { }
  .container { }
  footer     { }
}
@media only screen and (min-width: 960px) and (max-width: 1279px) {
  header     { }
  .container { }
  footer     { }
}

.brand-badge-wrapper {
  margin: 0 0.5em;
}

.activated-wt {
  color: var(--activated-wt-font-color);
}

.reset-btn {
  display: block;
  margin: 1em auto;
}

.info,
.word-tags,
.part-trait-ex-skill,
.parts,
.gears {
  margin-right: 10px;
}

.info,
.word-tags {
  width: 170px;
}

.word-tags span {
  font-size: 12px;
}

.part-trait-ex-skill {
  width: 290px;
}

.attr-icon {
  margin-right: 0.5em;
}

.ex-cat-icon {
  margin-right: 0.33em;
}

.part-trait-ex-skill__text,
.part-trait-ex-skill__text .ex-cat-icon {
  font-size: 0.9em;
}

.part-skill-trait .ex-cat-icon,
.part-trait-ex-skill__text .ex-cat-icon {
  display: inline;
}

.part-trait-ex-skill__text .ex-cat-icon {
  font-size: larger;
}

.parts {
  width: 230px;
}

.parts .part-slot-type {
  display: inline-block;
  width: 20%;
}

.gears {
  width: 180px;
}

.gears label {
  display: inline-block;
  width: 30%;
}

.parts .part-slot-type .slot-icon,
.gears label .slot-icon {
  font-size: 2em;
  /*padding-right: 0.67em;*/
}

.parts input[type=text],
.gears input[type=text] {
  border: 1px solid var(--secondary-color);
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  width: 70%;
}

.parts .part-slot-attr {
  display: inline-block;
  width: 10%;
}

.attribute-tally {
  display: block !important;
  padding: 0 0 0 35% !important;
}

.attribute-tally label {
  margin: 0 0.33em;
}

.float-right {
  float: right;
}

.height-50 {
  height: 70px;
}

.row {
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  width: 100%;
}

.alt-bg:nth-of-type(even) {
  background: var(--alt-bg-row-color);
}

.alt-bg--blue:nth-of-type(even) {
  background: var(--color-blue-alt);
}

.alt-bg--red:nth-of-type(even) {
  background: var(--color-red-alt);
}

.info__total {
  font-weight: bold;
}

.part-list {
  width: 290px;
}

.js-input,
.part-list__item {
  font-size: smaller;
}

.part-list__item {
  border-bottom: 1px solid var(--secondary-color);
  cursor: pointer;
  padding: 8px 5px;
  user-select: none;
}

.js-input[data-rarity="2"],
.part-list__item[data-rarity="2"] {
  color: var(--rarity-color-2);
}

.js-input[data-rarity="3"],
.part-list__item[data-rarity="3"] {
  color: var(--rarity-color-3);
}

.js-input[data-rarity="4"],
.part-list__item[data-rarity="4"] {
  color: var(--rarity-color-4);
}

.part-list__remove {
  color: #fad87a;
  cursor: pointer;
  float: right;
}

.part-list__item:hover {
  background: var(--active-selection-color);
  color: #fff;
}

.part-list__list {
  border: 1px solid var(--secondary-color);
  height: 520px;
  overflow-y: scroll;
}

.part-list__search {
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  height: 37px;
  margin-bottom: 5px;
  padding: 5px;
  width: 100%;
}

.selected-part {
  background: var(--active-selection-color) !important;
}

.selected-part label,
.selected-part .part-slot-type,
.selected-part .part-slot-attr {
  color: #fff;
}

.selected-part input {
  border: 2px solid var(--active-selection-color) !important;
}

.active-word-tag-list {
  min-height: 22px;
}

.bg-red {
  background: var(--color-red);
}

.weapon-type {
  float: left;
  width: 2em;
  text-align: center;
}
.weapon-type span {
  font-size: 0.75em;
}

.parts-marks {
  float: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: var(--marks-bg);
  height: 1.33em;
  margin-top: 0.25em;
  padding-bottom: 0.125em;
  width: 5em;
}

.parts-marks__item {
  display: inline-block;
  margin: 0 0.1em;
}

.parts-marks__item:hover {
  cursor: pointer;
}

.parts-marks__item:after {
  content: '\2726';
  font-size: 1.25em;
}

.parts-marks__item[data-value="0"] {
  border-bottom-color: #000;
}

.parts-marks__item[data-value="0"]:after {
  color: #000;
}

.parts-marks__item[data-value="1"]:after {
  color: var(--rarity-color-1);
}

.weapon-type span[data-rarity="2"]:before,
.part-slot-attr span[data-rarity="2"]:before,
.slot-icon[data-rarity="2"]:before,
.parts-marks__item[data-value="2"]:after {
  color: var(--rarity-color-2);
}

.weapon-type span[data-rarity="3"]:before,
.part-slot-attr span[data-rarity="3"]:before,
.slot-icon[data-rarity="3"]:before,
.parts-marks__item[data-value="3"]:after {
  color: var(--rarity-color-3);
}

.weapon-type span[data-rarity="4"]:before,
.part-slot-attr span[data-rarity="4"]:before,
.slot-icon[data-rarity="4"]:before,
.parts-marks__item[data-value="4"]:after {
  color: var(--rarity-color-4);
}

.weapon-type span[data-rarity="5"]:before,
.part-slot-attr span[data-rarity="5"]:before,
.slot-icon[data-rarity="5"]:before,
.parts-marks__item[data-value="5"]:after {
  color: var(--rarity-color-5);
}

.part-name {
  background: var(--color-red);
  font-size: 12px
}

.part-word-tag-list {
  min-height: 44px;
}

.part-skill-trait {
  border-bottom: 1px solid var(--color-red);
  font-size: 12px;
}

/** Balloon CSS */
[aria-label][data-balloon-pos]:after {
  color: var(--tooltip-fg-color);
  background: var(--tooltip-bg-color);
}

[aria-label][data-balloon-pos]:before {
  border-top-color: var(--tooltip-bg-color);
}

[aria-label][data-balloon-pos][data-balloon-pos="down"]:before {
  border-bottom-color: var(--tooltip-bg-color);
}

[aria-label][data-balloon-pos][data-balloon-pos="down-left"]:before {
  border-bottom-color: var(--tooltip-bg-color);
}

[aria-label][data-balloon-pos][data-balloon-pos="down-right"]:before {
  border-bottom-color: var(--tooltip-bg-color);
}

[aria-label][data-balloon-pos][data-balloon-pos="left"]:before {
  border-left-color: var(--tooltip-bg-color);
}

[aria-label][data-balloon-pos][data-balloon-pos="right"]:before {
  border-right-color: var(--tooltip-bg-color);
}

/** Scrollbar */
.js-part-list::-webkit-scrollbar {
  width: 11px;
}

.js-part-list {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-bg-color);
}

.js-part-list::-webkit-scrollbar-track {
  background: var(--scrollbar-bg-color);
}

.js-part-list::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 6px;
  border: 3px solid var(--scrollbar-bg-color);
}

/** Align icons in the middle */
[class*='gbgw-']:before {
  vertical-align: middle;
}